html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src:
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src:
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src:
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

/* GRID */

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-top__container {
  display: flex;
  justify-content: space-between;
}

.header-top__nav {
  display: flex;
}

.header-top__link {
  width: 150px;
  height: 42px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  min-height: 158px;
}

.header-main__slogan {
  width: 300px;
}

.page-main__promo {
  margin-top: 59px;
  margin-bottom: 53px;
}

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo__item {
  width: 300px;
  height: 123px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.promo__slider {
  width: 620px;
  height: 266px;
  box-sizing: border-box;
}

.promo__wrapper {
  width: 300px;
  min-height: 266px;
  height: 255px;
}

.popular__header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
}

.brand a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.brand img {
  display: block;
}

.services {
  min-height: 522px;
}

.page-main__services {
  margin-top: 65px;
}

.services__slider {
  display: flex;
}

.services__selector {
  width: 240px;
  margin-right: 60px;
}

.shop-info {
  min-height: 536px;
  box-sizing: border-box;
  padding: 55px 0;
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 550px;
}

.contact-us {
  width: 300px;
}

.page-footer__top {
  min-height: 193px;
  display: flex;
}

.copyright {
  min-height: 107px;
  box-sizing: border-box;
}

.copyright__container {
  display: flex;
}

.footer-about {
  width: 620px;
}

.page-main__heading {
  margin-bottom: 20px;
}

.breadcrumbs {
  min-height: 59px;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  margin-bottom: 20px;
}

.filter {
  width: 220px;
}

.catalog__products {
  width: 700px;
}

.catalog__pagination {
  margin-bottom: 60px;
}

/* COMMON */

.section-header {
  padding: 10px 20px;
  background-color: #f7f3ec;
}

.section-header span {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}


.heading-main {
  padding: 30px;
  padding-top: 29px;
  padding-left: 29px;
  background-color: #f2f6f8;
}

.heading-main h1 {
  margin: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.page-main__description {
  padding: 40px 0 56px 0;
}

/*** COMMON */

/* LOGO */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo--footer {
  height: 63px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

/*** LOGO */

/* HEADER */

.page-header {
  padding-bottom: 60px;
  font-family: Cuprum, Arial, sans-serif;
  background-color: #f3f7f8;
}

.header-top {
  background-color: #293449;
}

.search__input {
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
}

.search__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.search__input:focus,
.search__input:focus::placeholder {
  background-color: #ffffff;
  color: #000000;
}

.header-top__link {
  display: block;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.header-top__link--red {
  background-color: #ee3643;
}

.header-top__link--green {
  background-color: #63a63e;
}

.header-main__slogan {
  display: block;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-main__phone a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-main__phone a:hover,
.header-main__phone a:focus {
  color: #ca2c37;
}

.header-main__phone a:active {
  color: #ba2732;
}

.header-main__address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.auth-menu,
.main-nav__list,
.header-main__office {
  list-style: none;
  margin: 0;
  padding: 0;
}

.auth-menu__item a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.auth-menu__item a:hover,
.auth-menu__item a:focus,
.header-main__office a:hover,
.header-main__office a:focus {
  color: #ee3643;
}

.auth-menu__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-main__office a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-main__office a:active {
  color: rgba(50, 66, 92, 0.3);
}

/* MAIN NAV */

.main-nav {
  min-height: 60px;
  background-color: #32425c;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
}

.main-nav__item a {
  display: block;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.main-nav__item a:hover,
.main-nav__item a:focus,
.main-nav__item--active a {
  background-color: #293449;
}

.main-nav__item a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*** MAIN NAV */

/*** HEADER */

/* MAIN */

.button {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.button--transparent {
  background-color: rgba(0, 0, 0, 0.1);
}

.button--transparent:hover,
.button--transparent:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button--transparent:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button--red {
  background-color: #ee3643;
}

.button--red:hover,
.button--red:focus {
  background-color: #ca2c37;
}

.button--red:active {
  background-color: #ba2732;
}

.promo__item {
  padding: 5px;
  background-color: #ffbf47;
}

.promo__item--instruments {
  background-color: #3bbce3;
}

.promo__item--technics {
  background-color: #dc91d8;
}

.promo__item--sale {
  background-color: #8ed78f;
}

.promo__title {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo__button {

}

.catalog-slider__item {
  display: none;
  padding: 5px;
  position: relative;
  background-color: #ffbf47;
}

.catalog-slider__item--acitve {
  display: block;
}

.catalog-slider__caption,
.catalog-slider__button {
  position: relative;
  z-index: 2;
}

.catalog-slider__arrows,
.catalog-slider__selector {
  position: absolute;
  z-index: 2;
}

.catalog-slider__image {
  margin: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}


.catalog-slider__image img {
  width: 100%;
  height: auto;
}

.catalog-slider__caption h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.catalog-slider__caption p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.popular__header {
  padding: 25px;
  padding-bottom: 26px;
  background-color: #f9f5f0;
}

.popular__title {
  margin: 4px 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

/* SERVICES */

.services {
  padding: 40px 0;
  box-sizing: border-box;
  background-color: #f4f8f9;
}

.heading-second {
  margin: 25px 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.services__switch {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
}

.services__slide {
  display: none;
}

.services__slide--active {
  display: block;
}

.services__slide h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.services__switch:hover,
.services__switch:focus
.services__switch--active:hover,
.services__switch--active:focus {
  background-color: #293449;
  color: #ffffff;
}

.services__switch--active {
  color: #32425c;
  background-color: #ffffff;
}

/*** SERVICES */

.about-us__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-us__list li {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

/* INNER PAGE - CATALOG */

.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs__link {
  color: #000000;
}

.breadcrumbs__link[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

/* FILTER */

.filter__form fieldset {
  display: block;
  padding: 10px 0 25px 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter__form legend {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter__checkbox label,
.filter__radio label {
  font: inherit;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter__submit {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

/*** FILTER */

/* CATALOG */

.catalog__header {
  display: flex;
}

.catalog__sort {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__sort-item {
  line-height: 18px;
}

.catalog__sort-item a {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.catalog__sort-item a:hover,
.catalog__sort-item a:focus {
  border-bottom: 1px solid #ee3643;
  color: #000000;
}

.catalog__sort-item--active a,
.catalog__sort-item--active a:hover,
.catalog__sort-item--active a:focus,
.catalog__sort-item a:active {
  border-bottom: none;
  color: #ee3643;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 32px;
}

.page-main__description {
  background-color: #f2f6f8;
}

.pagination {
  display: flex;
}

.pagination__item {
  display: block;
  padding: 10px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.pagination__item--current {
  background-color: #ee3643;
}

/*** CATALOG */

/* PRODUCT */

.product {
  width: 220px;
  height: 318px;
}

.product__wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  position: relative;
}

.product__title,
.product__title a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product__old-price,
.product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.product__price {
  display: block;
  color: #ffffff;
  background-color: #ee3643;
}

.product__old-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.product__buttons {
  position: absolute;
  top: 20px;
}

.product__button {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.product__buy {
  color: #ffffff;
  background-color: #63a63e;
}

.product__buy:hover,
.product__buy:focus {
  background-color: #5fbb2d;
}

.product__buy:active {
  background-color: #518534;
}

.product__bookmark {
  color: #32425c;
}

/*** PRODUCT */

/* FOOTER */

.page-footer {
  background-color: #32425c;
  font-family: Cuprum, Arial, sans-serif;
}

.footer-menu {
  width: 560px;
}

.footer-menu__list,
.footer-shop__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.footer-menu__item:not(:first-child),
.footer-shop__item:not(:first-child) {
  margin-left: 60px;
}

.footer-menu__item a,
.footer-shop__item a {
  font-size: 18px;
  line-height: 24px;
}

.footer-menu__item a {
  color: #f3f7f9;
}

.footer-shop__item a {
  color: #ffd180;
}

.footer-menu__item a:hover,
.footer-menu__item a:focus,
.footer-shop__item a:hover,
.footer-shop__item a:focus {
  text-decoration: underline;
}

.footer-menu__item a:active,
.footer-shop__item a:active {
  opacity: 0.5;
}

.footer-shop__contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.copyright__text,
.copyright__feedback,
.copyright__developer {
  color: #ffffff;
}

.social {
  list-style: none;
}

.copyright__feedback span,
.copyright__developer span {
  display: block;
}

.copyright__feedback a,
.copyright__developer a {
  color: #ffd180;
}

.copyright__feedback a:hover,
.copyright__feedback a:focus,
.copyright__developer a:hover,
.copyright__developer a:focus {
  text-decoration: underline;
}

.copyright__feedback a:active,
.copyright__developer a:active {
  color: #ee3643;
  text-decoration: none;
}

/*** FOOTER */

/* MODAL */

.modal-contact label {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.modal-contact input,
.modal-contact textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.modal-contact input::placeholder,
.modal-contact textarea::placeholder {
  color: #a9a9a9;
}

.modal-contact__bottom {
  background-color: #f4f4f4;
}

/*** MODAL */
